/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles or Utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* Top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img{
    width: 56px;
    height: 56px;
}

.player{
    display: flex;
    align-items: center;
}

.player-name{
    margin-left: 16px;
}